<ion-view view-title="Chats">
  <ion-content>
    
    <div class="card" ng-click="do()">
      <div class="item item-text-wrap">
        Do
      </div>
    </div>

    <div class="card" ng-click="re()">
      <div class="item item-text-wrap">
        Re
      </div>
    </div>

    <div class="card" ng-click="mi()">
      <div class="item item-text-wrap">
        Mi
      </div>
    </div>

    <div class="card" ng-click="fa()">
      <div class="item item-text-wrap">
        Fa
      </div>
    </div>

    <div class="card" ng-click="sol()">
      <div class="item item-text-wrap">
        Sol
      </div>
    </div>

    <div class="card" ng-click="la()">
      <div class="item item-text-wrap">
        La
      </div>
    </div>

    <div class="card" ng-click="si()">
      <div class="item item-text-wrap">
        Si
      </div>
    </div>

  </ion-content>
</ion-view>
